In [6]:
import datetime, warnings
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import Lasso,LinearRegression,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor,BaggingRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [3]:
flights=pd.read_csv("flights_explored.csv")

In [4]:
flights.head()

,MONTH,DAY_OF_WEEK,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,AIRLINE,DELAYED
0,1,4,N407AS,ANC,SEA,00:05:00,23:54:00,-11.0,205.0,194.0,169.0,1448,04:30:00,04:08:00,-22.0,Alaska Airlines Inc.,False
1,1,4,N527AS,SEA,ANC,00:25:00,00:24:00,-1.0,235.0,215.0,199.0,1448,03:20:00,02:59:00,-21.0,Alaska Airlines Inc.,False
2,1,4,N309AS,ANC,SEA,00:45:00,00:41:00,-4.0,204.0,194.0,173.0,1448,05:09:00,04:55:00,-14.0,Alaska Airlines Inc.,False
3,1,4,N413AS,ANC,PDX,00:50:00,00:46:00,-4.0,215.0,201.0,187.0,1542,05:25:00,05:07:00,-18.0,Alaska Airlines Inc.,False
4,1,4,N457AS,FAI,SEA,01:15:00,01:07:00,-8.0,213.0,218.0,186.0,1533,05:48:00,05:45:00,-3.0,Alaska Airlines Inc.,False

In [7]:
Las = Lasso()
LinR = LinearRegression()
Rid = Ridge()
Rfc = RandomForestRegressor(random_state=2)
Dtc = DecisionTreeRegressor(random_state = 2)
Boost_Lin = AdaBoostRegressor(base_estimator=LinR,random_state=2)
Boost_las = AdaBoostRegressor(base_estimator=Las,random_state=2)
Boost_rid = AdaBoostRegressor(base_estimator=Rid,random_state=2)
Bg_Lin = BaggingRegressor(base_estimator=LinR,random_state=2)
Bg_las = BaggingRegressor(base_estimator=Las,random_state=2)
Bg_rid = BaggingRegressor(base_estimator=Rid,random_state=2)

In [9]:
le = LabelEncoder()

In [12]:
flights['AIRLINE']= le.fit_transform(flights['AIRLINE'])
flights['ORIGIN_AIRPORT'] = le.fit_transform(flights['ORIGIN_AIRPORT'])
flights['DESTINATION_AIRPORT'] = le.fit_transform(flights['DESTINATION_AIRPORT'])
#flights['DAY'] = le.fit_transform(flights['DAY'])

In [13]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3026542 entries, 0 to 3026541
Data columns (total 17 columns):
MONTH                  int64
DAY_OF_WEEK            int64
TAIL_NUMBER            object
ORIGIN_AIRPORT         int64
DESTINATION_AIRPORT    int64
SCHEDULED_DEPARTURE    object
DEPARTURE_TIME         object
DEPARTURE_DELAY        float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE               int64
SCHEDULED_ARRIVAL      object
ARRIVAL_TIME           object
ARRIVAL_DELAY          float64
AIRLINE                int64
DELAYED                bool
dtypes: bool(1), float64(5), int64(6), object(5)
memory usage: 372.3+ MB

In [15]:
flights = flights.drop(['SCHEDULED_DEPARTURE','SCHEDULED_ARRIVAL'], axis = 1)

In [21]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3026542 entries, 0 to 3026541
Data columns (total 15 columns):
MONTH                  int64
DAY_OF_WEEK            int64
TAIL_NUMBER            object
ORIGIN_AIRPORT         int64
DESTINATION_AIRPORT    int64
DEPARTURE_TIME         object
DEPARTURE_DELAY        float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE               int64
ARRIVAL_TIME           object
ARRIVAL_DELAY          float64
AIRLINE                int64
DELAYED                bool
dtypes: bool(1), float64(5), int64(6), object(3)
memory usage: 326.2+ MB

In [33]:
X = flights.drop(['ARRIVAL_DELAY','DEPARTURE_DELAY','TAIL_NUMBER','DEPARTURE_TIME','ARRIVAL_TIME'],axis = 1)
X.head()

,MONTH,DAY_OF_WEEK,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,AIRLINE,DELAYED
0,1,4,313,571,205.0,194.0,169.0,1448,0,False
1,1,4,573,311,235.0,215.0,199.0,1448,0,False
2,1,4,313,571,204.0,194.0,173.0,1448,0,False
3,1,4,313,530,215.0,201.0,187.0,1542,0,False
4,1,4,404,571,213.0,218.0,186.0,1533,0,False

In [23]:
y = flights['ARRIVAL_DELAY']
y.head()

0   -22.0
1   -21.0
2   -14.0
3   -18.0
4    -3.0
Name: ARRIVAL_DELAY, dtype: float64

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 2)

In [35]:
sc1=StandardScaler()
X_train_sc=sc1.fit_transform(X_train)
X_test_sc=sc1.transform(X_test)

/home/ligerd/mypythno/local/lib/python2.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype bool, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/ligerd/mypythno/local/lib/python2.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype bool, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/ligerd/mypythno/lib/python2.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype bool, int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:


for model, name in zip([Las,LinR,Rid,Dtc,Rfc,Boost_Lin,Boost_las,Boost_rid,Bg_Lin,Bg_las,Bg_rid], 
     ['Lasso','Linear Regression','Ridge','Random forest Regressor','Decision Tree Regressor','Boosted Linear',
      'Boosted Lasso','Boosted Ridge','Bagged Linear','Bagged Lasso','Bagged Ridge']):
    model1 = model.fit(X_train_sc,y_train)
    Y_predict=model1.predict(X_test_sc)
    print(name)
    print('Mean Absolute Error:', mean_absolute_error(y_test, Y_predict))  
    print('Mean Squared Error:', mean_squared_error(y_test, Y_predict))  
    print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, Y_predict)))
    print('R2 : ',r2_score(y_test, Y_predict))
    print()

Lasso
('Mean Absolute Error:', 15.995184895030734)
('Mean Squared Error:', 1152.1865327013152)
('Root Mean Squared Error:', 33.943873271936944)
('R2 : ', 0.2983182998896847)
()
Linear Regression
('Mean Absolute Error:', 15.283811713379887)
('Mean Squared Error:', 1127.2523119569842)
('Root Mean Squared Error:', 33.574578358588276)
('R2 : ', 0.3135032425237465)
()
Ridge
('Mean Absolute Error:', 15.28382683932877)
('Mean Squared Error:', 1127.2522844988994)
('Root Mean Squared Error:', 33.57457794967644)
('R2 : ', 0.31350325924572253)
()
Random forest Regressor
('Mean Absolute Error:', 18.265640560243092)
('Mean Squared Error:', 2187.7717014092723)
('Root Mean Squared Error:', 46.77362185472996)
('R2 : ', -0.3323531592571123)
()

/home/ligerd/mypythno/local/lib/python2.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)